@import "./partials/colors.scss";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-fondo;
    overflow-x: hidden;
}

main{
    .h4-carousel{
        background-color: $color-fondo-titulo-carousel;
        color: $color-fuente-h4-carousel;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        position: absolute;
        top: 15dvh;
        left: 30%;
        width: 40%;
        z-index: 50;
    }
    .whatsapp-logo{
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        width: 5rem;
        z-index: 100;
    }
    h2{
        text-align: center;
    }
    .significado{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 80%;
        }
    }
    .catalogo{
        text-align: center;
        .catalogo-vehiculos{
            display: grid;
            align-items: center;
            .caja-interna{
                display: flex;
                flex-direction: column;
                align-items: center;
                h4{
                    background-color: $color-ver-modelo;
                    padding: 0.5rem;
                    margin-top: 0.3rem;
                    &:hover{
                        background-color: yellow;
                    }
                }
            }
            .carousel-vehiculo{
                width: 80%;
            }
        }
    }
    .fabricantes{
        border: 4px solid $color-caja-fabricantes;
        border-radius: 8px;
        margin: 5dvw;
        img{
            width: 20dvw;
        }
    }
    .contacto{
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        .formulario{
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        form{
            background-image: url("../assets/images/contacto/form.webp");
            border: 2px solid #555;
            padding: 0 1rem;
            width: 60%;
            .caja-input{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 0.5rem;
                input{
                    width: 60%;
                }
            }
            .caja-motivo{
                label{
                    display: inline;
                }
            }
            textarea{
                height: 10rem;
                width: 60%;
                resize: none;
            }
            .caja-input-submit{
                display: flex;
                justify-content: center;
                margin-bottom: 0.5rem;
            }
        }
        iframe{
            height: 60dvw;
            width: 60dvw;
            margin:2dvh 15dvw;
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    .social-media{
        background-color: $color-fondo;
        border: 2px solid $color-social-media-borde;
        border-radius: 48px
    }
}

@import "./partials/queries.scss";