$color-background:#ffffff;

/*HEADER*/
$offcanvas-body-color:#e4e4e3;
$color-fuente-logo:rgb(155,192,55);

$color-fondo-titulo-carousel:rgb(0,0,0,0.4);
$color-fuente-h4-carousel:#fff;

/* CATALOGO */
$color-catalogo-background:#dfdfdf;
$color-caja-vehiculo:#777;
$color-ver-modelo:#bbb;
$color-proximamente:#d33;
$color-fuente-proximamente:#fff;

/* FABRICANTES */
$color-caja-fabricantes: #000;
$color-caja-fabricantes-titulo:rgb(0,85,183);

/* CONTACTO Y FOOTER */
$box-shadow-dorado: 0 0 0.75rem 0.25rem #fafa8a; /* offset-x | offset-y | blur-radius | spread-radius | color */

/* FOOTER */
$color-footer-background:rgb(106 113 124);
$color-social-media-borde: #000;
$color-social-media-background: #fff;