$color-background:#ffffff;

/*HEADER*/
$offcanvas-body-color:#e4e4e3;

$color-fondo-titulo-carousel:rgb(0,0,0,0.4);
$color-fuente-h4-carousel:#fff;

/* CATALOGO */
$color-catalogo-background:#dfdfdf;
$color-ver-modelo:#bbb;
$color-proximamente:#d33;
$color-fuente-proximamente:#fff;

/* FABRICANTES */
$color-caja-fabricantes: #000;
// $color-caja-fabricantes-titulo:rgb(0,52,136); //color viejo
$color-caja-fabricantes-titulo:rgb(0,85,183);

/* FOOTER */
$color-footer-background:rgb(106 113 124);
$color-social-media-borde: #000;
$color-social-media-background: #fff;