$color-fondo:gray;
$color-fondo-titulo-carousel:rgb(0,0,0,0.4);
$color-fuente-h4-carousel:#fff;

/* FABRICANTES */
$color-caja-fabricantes: rgb(61, 186, 228);

/* VEHICULOS */
$color-ver-modelo:#555;

/* FOOTER */
$color-social-media-borde: #000;