@media only screen and (max-width: 300px) {
    .fabricantes{
        h4{
            font-size: 1rem;
        }
    }
}


@media only screen and (min-width: 480px) {
    main{
        .whatsapp-logo{
            width: 4rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    main{
        .whatsapp-logo{
            bottom: 20dvh;
        }
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        .caja-logo{
            margin-left: 10dvw;
            width: 50%;
            h4{
                font-size: 2dvw;
            }
        }
        .caja-social-media{
            margin: 0 10dvw 0 0;
        }
    }
}

@media only screen and (min-width:992px) {
    header{
        .navbar-nav-personal{
            background: $color-background;
            li{
                border: 0;
                font-size: 1.5rem;
                padding: 0 1.5rem;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    main{
        .whatsapp-logo{
            bottom: 1.5rem;
            right: 1.5rem;
            width: 5rem;
        }
        .significado{
            img{
                width: 50%;
            }
        }
        .catalogo{
            .catalogo-vehiculos{
                grid-template-columns: repeat(3,1fr);
            }
            .fabricantes{
                .fabricantes-logos{
                    img{
                        width: 80px;
                    }
                }
            }
        }
        .contacto{
            grid-template-areas: 
            "titulo none"
            "parrafo none"
            "formulario mapa";
            padding-bottom: $margin-vertical*3;
            h2{
                grid-area: titulo;
                margin-left: 10dvw;
            }
            p{
                grid-area: parrafo;
                margin-left: 10dvw;
            }
            form{
                background-position: top;
                background-size: cover;  
                grid-area: formulario;
                margin-left: 10dvw;
                width: 50%;
            }
            iframe{
                grid-area: mapa;
                height: 100%;
                width: 60dvh;
                margin: 0 10dvw 0 0;
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    .catalogo{
        .caja-fabricantes{
            display: flex;
            justify-content: center;
            .fabricantes{
                width: 70%;
                .fabricantes-logos{
                    img{
                        width: 15%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1366px) {
    footer{
        .caja-direccion{
            margin-left: 13dvw;
        }
        .caja-social-media{
            margin-right: 6dvw;
        }
    }
}

@media only screen and (min-width:1920px) {
    footer{
        .caja-direccion{
            margin-left: 8dvw;
        }
        .caja-social-media{
            margin-right: 13dvw;
        }
    }
}