@media only screen and (max-width: 300px) {
    .fabricantes{
        h4{
            font-size: 1rem;
        }
    }
}


@media only screen and (min-width: 480px) {
    main{
        .whatsapp-logo{
            width: 4rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    main{
        .whatsapp-logo{
            bottom: 1.5rem;
        }
    }
    footer{
        display: grid;
        grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
        grid-template-areas: 
        ". d . sm ";
        .caja-direccion{
            grid-area: d;
            margin: 0;
            h4{
                font-size: 1rem;
            }
        }
        .caja-social-media{
            grid-area: sm;
            margin: 0;
            width: 120%;
        }
    }
}

@media only screen and (min-width:992px) {
    header{
        .navbar-nav-personal{
            background: $color-background;
            li{
                border: 0;
                font-size: 1.5rem;
                padding: 0 1.5rem;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    main{
        .whatsapp-logo{
            bottom: 1.5rem;
            right: 1.5rem;
            width: 5rem;
        }
        .significado{
            img{
                width: 50%;
            }
        }
        .catalogo{
            .catalogo-vehiculos{
                grid-template-columns: repeat(3,1fr);
            }
            .fabricantes{
                .fabricantes-logos{
                    img{
                        width: 80px;
                    }
                }
            }
        }
        .contacto{
            grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
            grid-template-areas:
            ". titulo . . ."
            ". parrafo . . ."
            ". formulario . mapa .";
            padding-bottom: $margin-vertical*3;
            h2{
                grid-area: titulo;
            }
            p{
                grid-area: parrafo;
                margin: 0;
            }
            form{
                background-position: top;
                background-size: cover;  
                grid-area: formulario;
                width: 100%;
            }
            iframe{
                grid-area: mapa;
                margin: 0;
                height: 100%;
                width: 100%;
            }
        }
    }
    footer{
        .caja-direccion{
            grid-area: d;
            margin: 0;
            h4{
                font-size: 1.5rem;
            }
        }
        .caja-social-media{
            grid-area: sm;
            margin: 0;
            width: 100%;
        }
    }
}

@media only screen and (min-width:1200px) {
    .catalogo{
        .caja-fabricantes{
            display: flex;
            justify-content: center;
            .fabricantes{
                width: 70%;
                .fabricantes-logos{
                    img{
                        width: 15%;
                    }
                }
            }
        }
    }
}